body{
    background-color: #FAF6F6;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 35%;
}

.exampleBtn{
    background-color: #303F9F;
    color: #f5f5f5;
    border-color: #303F9F;
    box-shadow: 3px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    padding-left: 3em;
    padding-right: 3em;
}

.exampleBtn:hover{
    background-color: #1A237E;
    color: #CFD8DC;
    font-size:larger;
}